@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
  background-color: #272A33;
  color: white;
  font-family: 'Nunito', sans-serif;
}

.logo {
  position: relative;
  text-align: center;
  margin-bottom: 80px;
}

.logo > img {
  display: block;
  margin: auto;
}

.title {
  position: absolute;
  left: 50%;
  bottom: -21px;
  font-weight: 700;
  transform: translateX(-50%);
}

.subtitle {
  position: absolute;
  left: 50%;
  bottom: -55px;
  transform: translateX(-50%);
  font-size: 14px;
}